  <div class="main user-edit">
    <div class="col-md-offset-4 col-md-4 edit-container">
      <div class="form-head">
        <div class=" text-center user-form">
          <%= form_with URL: user_path, local: true do |f| %>
          <%= f.label :name, "name" %>
          <%= f.text_field :name, value: @user.name %>
          <%= f.label :email, "email"%>
          <%= f.text_field :email, value: @user.email %>
           <%= f.label :img %>
           <%= f.file_field :img %>
           <%= f.submit "更新" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
