<div class="main user-edit">
    <div class="col-md-offset-4 col-md-4 edit-container">
      <div class="form-head">
        <div class="user-edit-form">
          <%= form_with model: @user, method: "patch", local: true do |f| %>
          <div class="edit-item">
            <p>User_name</p>
          <%= f.text_field :name, value: @user.name %>
          </div>
          <div class="edit-item">
            <p>E-mail</p>
          <%= f.text_field :email, value: @user.email %>
          </div>
          <div class="edit-item">
            <p>Icon</p>
           <%= f.file_field :image_name %>
           </div>
           <div class="text-center">
           <%= f.submit "更新", class:" edit-btn" %>
           
          <% end %>
        </div>
      </div>
    </div>
  </div>
