<div class= "main users-show">
  <div class= "col-md-offset-4 col-md-4 show-container">
    <div class= "user-image">
      <%#<p class="trim-image-to-circle"> #%>
      <% if @user.image_name.url %>
        <%= image_tag @user.image_name.url %>
      <% elsif %>
        <%= image_tag "black-login-user.png"%>
      <% end %>
      </p>
    </div>
    <div class="text-center user">
       <p><%= @user.name %></p>
      <p><%= @user.email %></p>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
    </div>
  </div>
</div>