<div class="rooms-show-wrapper">
  <div class="rooms-show-container">
    <div class="row">
      <div class="col-md-3 left-side">
        <p class="room-menu">Room Menu</p>
      <% @rooms.each do |room| %>
        <ul class="side-menu">
          <li style="margin-bottom:20px;">
           <%= link_to room.title, "/rooms/#{room.id}"%>
          </li>
        </ul>
       <% end %>
      </div>
      <div class="col-md-9 right-side bg-info">
        <div class="contents-box">
          <% @room.posts.each do |post| %>
            <div class="posts">
              <div class="post-user-name">
               <%= post.user.name %>
              </div>
               <%= post.content %>
                 <span class="time"><%= post.created_at.to_s(:datetime_jp) %></span>
                 <div class="comment">
                   <h6>コメントする</h6>
                 </div>
            </div>
          <% end %>
        </div>
        <div class="posts-create">
        
          <%= form_with url: create_post_path(room_id: @room.id), local: true do |f| %>
            <%= f.text_area name="content", class: 'text_area' %>
            <%= f.submit "投稿", class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>