<!DOCTYPE html>
<html>
  <head>
    <title>Bikers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<% flash.each do |key, value| %>
   <div class ="alert alert-<%= key %>" role="alert"><%= value %></div>
   <% end %>
   
   <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <% if current_user %>
          <%= link_to rooms_path do %>
           <span><%= image_tag "B.png", class: "navbar-brand" %></span>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
           <span><%= image_tag "B.png", class: "navbar-brand" %></span>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to "/rooms" do %>
                <%= image_tag "rooms.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "logout.png" %>
              <% end %>
            </li>
            <li>
              <%=link_to user_path(current_user.id) do %>
                <% if current_user.image_name.url %>
                  <%= image_tag current_user.image_name.url, class: 'navbar-user-image'%>
                <% else %>
                  <%= image_tag "black-login-user.png"%>
                <% end %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to signup_path do %>
                <%= image_tag "register.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>


   
   
    <%= yield %>
    
    <script>
    $(function(){
      $(".alert").fadeOut(5000);
    });
    </script>
    
  </body>
</html>
